service: python-demo

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.10
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-2'}
  environment:
    STAGE: ${self:provider.stage}

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /python-demo
          method: get
          cors: true
