name: CI/CD with serverless

on:
  pull_request:
    paths:
      - 'services/**'
      - '.github/**'
  push:
    branches: [ main ]
    paths:
      - 'services/**'
      - '.github/**'

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  detect-services:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.changed.outputs.services }}
    steps:
      - uses: actions/checkout@v6

      - name: Detect changed services
        id: changed
        run: |
          services=$(git diff --name-only origin/${{ github.base_ref }} | grep "^demo-githubaction/services/" | cut -d'/' -f3 | sort -u | jq -R . | jq -s .)
          echo "services=$services" >> $GITHUB_OUTPUT"